<!DOCTYPE html>

<html lang="ko"><head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="_csrf" content="b30a7c6e-9fde-4fbc-82ba-efd096e8a870">
    <meta name="_csrf_header" content="X-CSRF-TOKEN">   
	<meta name="HandheldFriendly" content="true">
	<meta name="format-detection" content="telephone=no">
	<meta name="theme-color" content="#be2237">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>로그인</title>
	<link rel="shortcut icon" href="./images/layout/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../static/css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<script src="../static/js/jquery-1.12.4.min.js"></script>
	<script src="../static/js/ui.js"></script>
	<script src="../static/js/jquery-ui.min.js"></script>
	<script src="../static/js/template.js"></script>
	<script src="../static/js/swiper.js"></script>
	<script src="../static/jsm/moment.min.js"></script>
	<script src="../static/jsm/jquery.cookie.min.js"></script>
    <script src="../static/jsm/webj.js"></script>
    <script src="../static/jsm/login.js"></script>
    <script>
    /*<![CDATA[*/
    var oauthKeyKakao = "6b6af5bd27a70886f415e21fe5430da8";
    var oauthKeyNaver = "e0p4povi4qFeGF695o4x";
    var oauthKeyFacebook = "1684143001615700";
    /*]]>*/
    </script>
</head>

<body>
	<!-- wrap -->
	<div id="wrap">
		<!-- login_wrap -->
		<div class="login_bg" style="min-height: 476px;">
			<div class="login_wrap">
			<div class="login_in">
				<!-- login_cont -->
				<div class="login_cont">
				<form>
					<fieldset>
						<legend>로그인</legend>
						<h2 class="title">로그인</h2>
						<ul class="login_box">
							<li>
								<label for="userID" class="hidden">아이디입력</label>
								<input type="userID" id="userID" class="off" name="userID" placeholder="아이디를 입력해주세요" title="아이디입력">
								<p class="ment" style="line-height:27px;height:27px;"></p>
							</li>
							<li>
								<label for="pw" class="hidden">비밀번호입력</label>
								<input type="pw" id="pw" class="off" name="pw" placeholder="비밀번호를 입력해주세요" title="비밀번호입력">
								<p class="ment" style="line-height:27px;height:27px;"></p>
							</li>
						</ul>
						<div class="login_g">
							<div class="left">
							<span>신규 사용자이신가요?</span><span><a href="../signup/signupPage" class="">계정만들기</a></span></div>
							<div class="right"><a class="btn_m_c1">계속</a></div>
						</div>
						<div class="sns_login">
							<p>또는</p>
							<ul>
								<li>
									<a>
										<dl class="webj-btn-login-by-facebook">
											<dt><img src="../static/images/contents/ico_facebook.png" alt="페이스북로그인"></dt>
											<dd>페이스북으로 시작</dd>
										</dl>
									</a>
								</li>
								<li>
									<a>
										<dl class="webj-btn-login-by-naver">
											<dt><img src="../static/images/contents/ico_naver.png" alt="네이버로그인"></dt>
											<dd>네이버로 시작</dd>
										</dl>
									</a>
								</li>
								<li>
									<a>
										<dl class="webj-btn-login-by-kakao">
											<dt><img src="../static/images/contents/ico_kakao.png" alt="카카오톡로그인"></dt>
											<dd>카카오로 시작</dd>
										</dl>
									</a>
								</li>
							</ul>
						</div>
					</fieldset>
				</form>
				</div>
				
				</div>
				<!-- //login_in-->
			</div>
			<!-- //login_wrap -->
		</div>
		<!-- //login_bg-->
	</div>
	<!-- //wrap -->


<span class="dimd"></span></body></html>
