<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.example.demo.mapper.PurchaseMapper">
		<select id="selectNum" resultType="string">
			select concat(to_char(SYSDATE,'yyyyMMdd') 
			, COALESCE(max(to_number(substr(purchase_num,9))),0 ) +1)
			from purchase
			where substr(purchase_num,1 ,8) = to_char(sysdate,'yyyyMMdd')
		</select>
		<insert id="insert" parameterType="infoDTO">
			insert into purchase 
			(PURCHASE_NUM, PURCHASE_DATE, PURCHASE_PRICE, DELIVERY_ADDR 
			, DELIVERY_ADDR_DETAIL, DELIVERY_POST, DELIVERY_PHONE, DELIVERY_NAME
			, MESSAGE, PURCHASE_STATUS
			, MEMBER_NUM)
			values (#{purchaseNum}
			, SYSDATE, #{purchasePrice}, #{deliveryAddr}
			, #{deliveryAddrDetail}, #{deliveryPost}, #{deliveryPhone}, #{deliveryName}
			, #{message}, '결제중'
			, #{memberNum})
			
		</insert>
		
		<select id="selectOne" parameterType="string" resultType="infoDTO">
			select PURCHASE_NUM, PURCHASE_DATE, PURCHASE_PRICE, DELIVERY_ADDR
			, DELIVERY_ADDR_DETAIL, DELIVERY_POST, DELIVERY_PHONE
			, MESSAGE, PURCHASE_STATUS, MEMBER_NUM, DELIVERY_NAME

			from purchase 
			where purchase_num = #{purchaseNum}
			
		</select>
		
		<insert id="insertItem" parameterType="itemDTO">
			insert into purchase_list 
			(PURCHASE_NUM, GOODS_NUM, PURCHASE_QTY, GOODS_UNIT_PRICE)
			values (#{purchaseNum}, #{goodsNum}, #{cartQty}, #{unitPrice})
		</insert>
		
		<select id="goodsName" parameterType="string" resultType="string">
			SELECT 
			    MIN(goods_name) || ' 외 ' 
			    || ( 
			        (SELECT SUM(purchase_qty) FROM purchase_list WHERE purchase_num = #{purchaseNum}) - 1
			    ) || '개'
			FROM purchase_list pl
			JOIN goods g ON g.goods_num = pl.goods_num
			WHERE purchase_num = #{purchaseNum}
			GROUP BY purchase_num
		</select>
		
		<insert id="paymentInsert" parameterType="payment">
		insert into payment(PURCHASE_NUM,CONFIRMNUMBER,CARDNUM,TID,TOTALPRICE
		,RESULTMESSAGE,PAYMETHOD,APPLDATE,APPTIME)
		values(#{purchaseNum},#{confirmnumber},#{cardnum},#{tid}
		,#{totalprice},#{resultmassage}
		,#{paymathod},#{appldate},#{appltime})
		</insert>
	</mapper>